.SingleApplication {
  display: grid;
  grid-template-columns: 7% 15% 15% auto auto auto auto;
  align-items: start;
  padding: 20px;

  background-color: white;
  box-shadow: 0px 5px 16px 0px rgba(173, 200, 215, 0.25);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.cell {
  text-align: left;
  padding: 0 15px;
}

.cell sub {
  display: block;
  font-size: 0.8rem;
  color: #999;
  margin-bottom: 5px;
}

.email{
  text-decoration: none;
  color: #6495f0;
}

.avatar {
  height: 50px;
}

@media screen and (max-width: 700px) {
  .SingleApplication {
    grid-template-columns: 1fr;
  }
  .avatarContainer {
    display: flex;
    justify-content: center
  }
}